<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="https://images.pexels.com/photos/1620760/pexels-photo-1620760.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h1>Kids</h1>
            <p></p>
            <button class="btn order" (click)="onclick()">View now</button>
        </div>`
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://images.pexels.com/photos/1813947/pexels-photo-1813947.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h1>Mens</h1>
            <p></p>
            <button class="btn order" (click)="inclick()" >View now</button>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://images.pexels.com/photos/2896425/pexels-photo-2896425.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h1>Womens</h1>
            <p></p>
            <button class="btn order" (click)="click()" >View now</button>
        </div>

    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://images.pexels.com/photos/2783873/pexels-photo-2783873.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <h1>Accessories</h1>
            <p></p>
            <button class="btn order"  >View now</button>
        </div>

    </div>
  </div>

</div>