<nav class="navbar">
    <h2>Kids T-Shirts</h2>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="https://ae01.alicdn.com/kf/HTB16DKigSYTBKNjSZKbq6xJ8pXak/Low-Price-Clearance-Orange-Elephant-Boys-T-Shirt-Cotton-Short-Sleeve-Summer-Tshirt-Girls-for-2.jpg"
                    alt="" (click)="onclick()">
                <h5>Round T-Shirts</h5>
                
                <p>Price: $20.00</p>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://ae01.alicdn.com/kf/HTB1f6TjPYrpK1RjSZTEq6AWAVXa4/Summer-Boys-T-shirt-Dinosaur-Kids-Shirts-Children-Tops-Tees-Fashion-Boy-Clothing.jpg"
                    alt="" (click)="inclick()">
                <h5>Jackets</h5>
                <p>Price: $30.00</p>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://th.bing.com/th/id/OIP.UHduvACg8OdkpZndbXGlrQHaHa?rs=1&pid=ImgDetMain" alt=""
                    (click)="onclick()">
                <h5>Hoodies</h5>
                <p>Price: $40.00</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://ae01.alicdn.com/kf/HTB1p4GurL5TBuNjSspmq6yDRVXab/Colorful-Cartoon-Children-T-shirt-Popular-Cotton-Baby-Gift-Kids-T-shirt-for-Boys-Tees-Clothes.jpg"
                    alt="" (click)="inclick()">
                <h5>Night wear</h5>
                <p>Price: $50.00</p>
            </div>
        </div>
    </div>
</div>