<nav class="navbar">
    <h2>Girls Wear</h2>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRySbbGbaCQkRRX9A9dunQwVlbosNnM2qv7mC_XoPzdU5kvGJFvI98Qew0Uzose8bWUXG_1knlilcp_uVuzJ83kY-WI225b7TK2QqzqkT0WlHZTOALvP3xi&usqp=CAE"  alt="" (click)="onclick()">
                <h5>Casual set</h5>
                
                <p>Price: $20.00</p>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSXYMErtGr93r9YWqAPt6YTLJf2sI3MXT23XAe6z-AZMoLlYpowPXzPceYut_-w6JdYYb3TbG0Na4AmQfLiA22oq3ga1ZSz_eVA_N64z24jbKIO9ZHKhmGy&usqp=CAE"
                    alt="" (click)="inclick()">
                <h5>Traditional Set</h5>
                <p>Price: $30.00</p>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcS5VQ7xlEJ6icScAxS1BiZFnjE6sk-U_A9fMQNm_qe6nz4N5ivZztlM_dm1FkNANOQ0HQmWeu12K_WHwcLDxogZBQUNs-Vzrkq9URdocHV6&usqp=CAE" alt=""
                    (click)="onclick()">
                <h5>South Wear</h5>
                <p>Price: $40.00</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTYY3NCYw40dfNILoMVNSl94J0tM46VxK6wW5LJISR6HLzyBGiBGQy_7QcCJWkPmIFCOrKN6N3go7TJ5j3VcBy8xUYBp1nqOa5dVnxucIBM&usqp=CAE"
                    alt="" (click)="inclick()">
                <h5>Punjabi Set</h5>
                <p>Price: $50.00</p>
            </div>
        </div>
    </div>
</div>