<div class="container">
    <h2>Register</h2>
    <form >
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" required  name="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" requiredname="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" required  name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
      <p>Already have an account? <a routerLink="/login">Login here</a></p>
    </form>
  </div>